:root{
    --background: url("/img/homee.jpg");
}
header.intro-header{
    position: relative;
    background: none;
    overflow: hidden;
}
header.intro-header::before{
    content: '';
    position: absolute;
    top: 0; left:0; right: 0; bottom: 0;
    background-image: var(--background);
    background-size: cover;
    background-position: center;
    transition: all .5s;
    transition-timing-function: cubic-bezier(0.1, 0.3, 1.0, 0.2);
}
header.intro-header:hover::before{
    transform: scale(1.2);
    filter: blur(5px);
}
.post-heading{
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 1);
}
.view-bar{
    width: 0;
    height: 2px;
    background-color: #77B6FF;
    position: fixed;
    top:0;
    z-index: 10;
}

.cover {
    aspect-ratio: 1 / 1;
    width: 100%;
    display: block;
    object-position: center;
    object-fit: cover;
}
.blurred-img {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
}
.blurred-img::before {
    content: "";
    position: absolute;
    inset: 0;
    opacity: 0;
    animation: pulse 2.5s infinite;
    background-color: white;
}

@keyframes pulse {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.1;
    }
    100% {
        opacity: 0;
    }
}
.blurred-img img{
    opacity: 0;
    transition: opacity 250ms ease-in-out;
}
.blurred-img.loaded::before {
    animation: none;
    content: none;
}
.blurred-img.loaded img {
    opacity: 1;
}

.archive-year{
    position: relative;
    left: -50px;
    border-bottom: 2px solid #404040;
}


.base-time-post{
    display: flex;
    margin-right: 100px;
}

.base-time-post .time{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5em;
    line-height: 3rem;
    margin-right: 10px;
    font-weight: bold;
    color: #18206F;
}

.base-time-post .time .month{
    margin: 0;
}

.base-time-post .time .day{
    font-size: 1.5em;
    margin: 0;
}

.base-time-post .text .archive-title{
    font-size: 1.5em;
    font-weight: bold;
}

.base-time-post .text p{
    margin-top: 0;
    font-size: .8em;
    color: #bfbfbf;
}

@media screen and (max-width: 990px) {
    .archive-year{
        left: 0;
        text-align: center;
    }
    .base-time-post{
        margin-right: 0;
    }

}

.site-heading ul{
    list-style: none;
    display: none;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.42857143;
    text-align: center;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 4px;
    vertical-align: middle;
}

@media screen and (max-width: 1000px) {
    .btn{
        visibility: hidden;
    }
}

img{vertical-align: middle;}
.close {
    float: right;
    font-size: 21px;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2
}

button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0
}
.entry-shang {
    padding: 30px 0 20px;
    text-align: center;
}

.entry-shang p {
    font-size: 12px;
}

.btn-bred {
    position: fixed;
    bottom: 30px;
    left: 50px;
    background-color: rgb(255, 204, 0);
    border-radius: 50%;
    padding: 12px 12px;
    transform: scale(0);
    transition: .5s ease-in-out;
}

.btn-moveTop {
    position: fixed;
    bottom: 30px;
    right: 50px;
    border-radius: 50%;
    padding: 12px 12px;
    transform: scale(0);
    transition: .5s ease-in-out;
}

.btn-moveTop-animate{
    display: block !important;
    transform: scale(.8);
}

@media screen and (max-width: 600px) {
    .fa-stack{
        transform: scale(.85);
    }
}