{{ define "main" }}
{{ $pages := (where (where .Site.Pages "Type" "post") "IsPage" true) }}

<div data-pagefind-ignore="all" class="container">
    <div class="row">
   	    <div class="
            col-lg-8 col-lg-offset-1
            col-md-8 col-md-offset-1
            col-sm-12
            col-xs-12
            post-container
        ">
            <div class="archive-list">
                {{ range ($pages.GroupByDate "2006") }}
                {{ if gt .Key 1 }}
                    {{ $.Scratch.Set "count" 1 }}
                    {{ range .Pages  }}
                        {{ if (eq ($.Scratch.Get "count") 1) }}
                            {{ $.Scratch.Set "count" 0 }}
                            <h1 class="title is-4 has-text-weight-normal archive-year" style="position: relative; left: -50px;">{{ .Date.Year }}</h1>
                        {{ end }}
                    {{ end }}
                    {{ range .Pages }}
                        <div class="base-time-post">
                            <div class="time">
                                <div class="month">{{ slicestr .Date.Month 0 3 | upper }}</div>
                                {{ if lt .Date.Day 10}}
                                    <span class="day">0{{ .Date.Day }}</span>
                                {{ else }}
                                    <span class="day">{{ .Date.Day }}</span>
                                {{ end }} 
                            </div>
                            <div class="text">
                                <a class="archive-title" href="{{ .RelPermalink }}">
                                    {{ .Title }}
                                    <!-- <span style="font-size: .3em">
                                        {{ if (and (not .Lastmod.IsZero) (not (eq (dateFormat "2006-01-02" .Lastmod) (dateFormat "2006-01-02" .Date))))}}
                                            [updated]
                                        {{ end }}
                                    </span> -->
                                </a>
                                {{ if eq (len .Description) 0}}
                                    <p>Here will be somthing soon~</p>
                                {{ else if gt (div (len .Description) 3) 90}}
                                    <p>{{ slicestr .Description 0 90}}...閱讀更多</p>
                                {{ else }}
                                    <p>{{ .Description }}</p>
                                {{ end }}
                            </div>
                        </div>
                    {{ end }}
                {{ end }}
                {{ end }}
            </div>
       	</div>
        {{ partial "sidebar.html" . }}
	</div>
</div>
<hr />
{{ end }}