<!DOCTYPE html>
<style type="text/css">
    .view-bar{
        width: 0;
        height: 2px;
        background-color: #77B6FF;
        position: fixed;
        top:0;
        z-index: 10;
    }
</style>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}
{{ partial "nav.html" . }}
<!-- Page Header -->
{{ block "header" .}}
<header class="intro-header" style="background-image: url('{{ .Site.Params.header_image | relURL }}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 ">
                <div class="site-heading">
                    <h1>{{ .Site.Title}} </h1>
                    <!--<hr class="small">-->
		    <span class="subheading">{{ .Site.Params.slogan }}</span>
                </div>
            </div>
        </div>
    </div>
</header>
{{ end }}

<div class="view-bar"></div>

{{ block "main" . }}
{{ end }}

<button aria-label="買杯咖啡" class="show-zs btn btn-bred">
	<img width="50" height="50" src="/element/coffee_cup_drink_icon.png"/>
</button>
{{ partial "reward.html" . }}
<button aria-label="回到頂部" class="btn btn-moveTop">
    <img width="50" height="50" src="/element/arrow_circle_up_icon.png"/>
</button>

{{ partial "footer.html" . }}
</body>
</html>

<script>
let lastScrollTop = 0
const isDev = true
$(window).scroll(function(){
    // 瀏覽進度條
    if(isDev){
        const px = $(window).height();
        var view = ($(window).scrollTop()) / ($(document).height() - $(window).height()) * 100 + 'vw'
        $(".view-bar").width(view)
    }

    // 回到頂部
    const px = 100;
    var st = window.pageYOffset || document.documentElement.scrollTop
    if (window.pageYOffset > px &&  st < lastScrollTop) {
        $(`[aria-label="回到頂部"], [aria-label="買杯咖啡"]`).addClass("btn-moveTop-animate")
    } else {
        $(`[aria-label="回到頂部"], [aria-label="買杯咖啡"]`).removeClass("btn-moveTop-animate")
    }
    lastScrollTop = st <= 0 ? 0 : st
})

$(".btn-moveTop").click(function(e){
    e.preventDefault();
    $("html,body").animate(
        {
        scrollTop: 0,
        },
        600
    )
})

</script>

