<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}
{{ partial "nav.html" . }}
<!-- Page Header -->
{{ block "header" .}}
<header class="intro-header" style="background-image: url('{{ .Site.Params.header_image | relURL }}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 ">
                <div class="site-heading">
                    <h1>{{ .Site.Title}} </h1>
                    <!--<hr class="small">-->
		            <span class="subheading">{{ .Site.Params.slogan }}</span>
                </div>
            </div>
        </div>
    </div>
</header>
{{ end }}

<div class="view-bar"></div>

{{ block "main" . }}
{{ end }}

<button aria-label="買杯咖啡" class="show-zs btn btn-bred">
	<img width="50" height="50" src="/element/coffee_cup_drink_icon.png"/>
</button>
{{ partial "reward.html" . }}
<button aria-label="回到頂部" class="btn btn-moveTop">
    <img width="50" height="50" src="/element/arrow_up.png"/>
</button>

{{ partial "footer.html" . }}
</body>
</html>